<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <appSettings>
    <add key="LOGENTRIES_TOKEN" value="c22a3941-29f0-4242-b4be-038896cd165a" />
    <add key="LOGENTRIES_ACCOUNT_KEY" value="c22a3941-29f0-4242-b4be-038896cd165a" />
    <add key="LOGENTRIES_LOCATION" value="api.logentries.com" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <nlog>
    <extensions>
      <add assembly="le_nlog"/>
    </extensions>
    <targets>
      <target name="logentries" type="Logentries" debug="true" httpPut="true" ssl="false"
      layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" appendTo="logentries"/>
    </rules>
  </nlog>
  
</configuration>
